@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-link:hover {
  background-color: rgba(247, 244, 244, 0.1);
  cursor: pointer;
}

.link-active {
  background-color: rgba(247, 244, 244, 0.3);
}

.link-active:hover {
  background-color: rgba(247, 244, 244, 0.1);
}

.bgc-gradient {
  background: linear-gradient(0.1turn, #6d28d9, #d946ef);
  width: 100%;
}
